
html{
  margin: 0;
}
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1c1b1b;
  color: purple;
  position: fixed;
  height: 4em;
  width: 100%;
  z-index: 999;
}

.titulo{
	text-align: center; }

#main-box{
  padding-top: 10em;
  padding-bottom: 50em;
  background-color:purple;
  width: 100%;
}

#clock-box{
    width:350px;
    height: 350px;
    border: 6px solid black;
    border-radius: 50%;
    position: relative;
    left: 36%;
    background-color:orange;
  }

.clock-number{
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  }

.clock-number:after{
    content:"";
    position:absolute;
    height:13px;
    width:3px;
    top:13%;
    background:#000;

}

.clock-number > div{
  padding: 12px;
}

.num1{
    transform: rotate(330deg)
}

.num1 > div{
    transform: rotate(-330deg)

}
.num2{
            transform: rotate(300deg)
        }

        .num2 > div{
            transform: rotate(-300deg)
        }
 .num3{
            transform: rotate(270deg)
        }

        .num3 > div{
            transform: rotate(-270deg)
        }
        .num4{
            transform: rotate(240deg)
        }

        .num4 > div{
            transform: rotate(-240deg)
        }
        .num5{
            transform: rotate(210deg)
        }

        .num5 > div{
            transform: rotate(-210deg)
        }
        .num6{
            transform: rotate(180deg)
        }

        .num6 > div{
            transform: rotate(-180deg)
        }
        .num7{
            transform: rotate(150deg)
        }

        .num7 > div{
            transform: rotate(-150deg)
        }
        .num8{
            transform: rotate(120deg)
        }

        .num8 > div{
            transform: rotate(-120deg)
        }
        .num9{
            transform: rotate(90deg)
        }

        .num9 > div{
            transform: rotate(-90deg)
        }
        .num10{
            transform: rotate(60deg)
        }

        .num10 > div{
            transform: rotate(-60deg)
        }
        .num11{
            transform: rotate(30deg)
        }

        .num11 > div{
            transform: rotate(-30deg)
        }

        .num12{
            transform: rotate(360deg)
        }

        .num12 > div{
            transform: rotate(-360deg)
        }



.clock-hand{
            width: 100%;
            height: 100%;
            position: absolute;
        }
        .clock-hand > div{
            left: 50%;
            bottom: 50%;
            transform: translateX(-50%);
            position: absolute;
            border-radius:12px;
        }
        .second-hand{
            height: 32%;
            width: 1px;
            background: purple;
        }
        .minute-hand{
            height:30%;
            width: 4px;
            background: #000;
        }

        .hour-hand{
            height: 20%;
            width:8px;
            background: #000;
        }
        .second-hand::after{
            position: absolute;
            content: "";
            border-style: solid;
            border-width: 4px;
            border-color: transparent transparent purple transparent;
            left: 50%;
            transform: translateX(-50%);
            top:-6%;
        }

  #box{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top:15em;
  height: 4em;
  width: 100%;
  }
